.Nosotros {
  width: 100%;
  background-image: url("../../img/Nosotrosbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.Nosotros p {
  font-size: 13px;
  color: #000000;
  text-align: justify;
}

.Card {
  position: fixed;
}

@media (max-width: 600px){
    .Nosotros{
        background-size: cover;
  background-attachment: fixed;
    }
}
